@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: aqua;
}

#sign-up{
    position: fixed;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 20px;
    /* border: 2px solid black; */
    margin-left: 30px;
    
   
}

#logo{
   
    display: flex;
    color: rgb(1, 26, 17);
    justify-content: flex-end;
    font-family: 'Kanit';
    font-style: italic;
    font-weight: 600;
    letter-spacing: 5px;
}

#logo h1{
    font-size: 50px;
    z-index: 2;
}


#logo img{
    position: relative;
    height: 80px;
    top: 10px;
    right: 280px;
}

#heading{
    font-family: 'Kanit';
    font-weight: 200;
    font-size: 40px;
    color: darkgreen;
    letter-spacing: 3px;
}

#sign-up-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    margin: 20px 0;
    font-size: 20px;
}

.credentials{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}



#username{
    display: inline;
}

#sign-up-form label{
    font-family: 'Kanit';
    /* color: darkgreen; */
}

#sign-up-form input{
    font-family: "Kanit";
    font-weight: 100;
    height: 20px;
    width: 40%;;

    border: none;
    border-radius: 5px;
}

#loginButton{
    background-color: lightgreen;
    border: none;
    height: 30px;
    border-radius: 8px;
    font-size: 15px;
    font-family: "Kanit";
    text-transform: capitalize;
}

#loginButton:hover{
    background-color: green;
    color: lightgreen;
    
}


#signupButton{
    background-color: green;
    color: lightgreen;
    border: none;
    height: 30px;
    border-radius: 8px;
    font-size: 15px;
    font-family: "Kanit";
    text-transform: capitalize;
}

#signupButton:hover{
    background-color: lightgreen;
    color: black;
}